.gradle/
build/
*.class
*.log


.idea/
*.iml
*.iws
*.ipr
.vscode/
.DS_Store

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

/nbproject/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

postgres_data/
minio_data/

.git/
.gitignore

.env
*.pid
*.tmp